elm-list-products tbody tr {
  cursor: pointer;
}

a {
  color: inherit;
	text-decoration: none;
  cursor: pointer;
}

.fix-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
